.PageAnchers {
  display: flex;
}

.PageAnchers li a,
.PageAnchers li span {
  color: #4078c0;
  font-size: 13px;
  padding: 10px 5px;
  display: inline-block;
  text-decoration: none;
}

.PageAnchers li span {
  color: #555;
}

.Ranking-header h3 {
  float: left;
}

.Ranking-header .PageAnchers {
  float: right;
}
