<div class="header">
  <nav class="{{nav}}">
    <a class="highlights" href="/">Highlights</a>
    <a class="top-10" href="/top-10">Top 10</a>
    <a class="score" href="/favorite">Favorite</a>
    <a href="/standings" class="standing-toggle">Standings</a>
  </nav>

  <div class="standings">
    <div class="content">
      Loading...
    </div>
  </div>
</div>