<div class="header">

  {{#unless video}}
  <div class="standings">
    <div class="content">
      Loading...
    </div>
  </div>
  {{/unless}}

  <nav class="{{nav}}">
    <a class="highlights" href="/">Highlights</a>
    <a class="top-10" href="/top-10">Top 10</a>
    <a class="teams" href="/teams">Teams</a>
    <a class="players" href="/players">Players</a>
    <a class="nav-standings" href="/standings">Standings</a>
  </nav>
</div>