.GameItem {
  margin-bottom: 15px;
}

.GameItem .line {
  display: flex;
  padding: 10px;
  margin: 0;
}

.GameItem .GameDate {
  padding: 5px;
  font-size: 13px;
  color: #555;
}

.GameItem.fav-level-1 .GameDate {
  position: relative;
  color: #4078c0;
}

.GameItem.fav-level-2 .GameDate {
  position: relative;
  color: #4078c0;
  font-weight: bold;
}

.GameSide {
  display: flex;
  align-items: center;
  flex: 1;
}

.GameSide .score {
  width: 40px;
  text-align: right;
  margin-left: 0;
  margin-right: 15px;
  font-size: 14px;
}

.GameSide .score.win {
  font-weight: bold;
  font-size: 16px;
}

.GameSide:first-of-type {
  margin-right: 10px;
}

.GameSide:first-of-type .score {
  text-align: left;
  margin-right: 0;
  margin-left: 15px;
}

.GameItem p {
  margin: 0;
  color: #555;
  font-size: 11px;
  padding: 0 5px;
  display: inline;
  font-weight: normal;
}

.GameRecap {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: flex-end;
}

.GameBadge {
  color: #55ae2e;
  padding: 3px;
  border-radius: 3px;
}

.GameItem .videoContainer video {
  width: 100%;
}
