@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #666;
}

nav {
  float: right;
  a {
    color: #00B7FF;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.videos {
  display: flex;
  flex-flow: row wrap;
}

.video {
  width: 200px;
  height: auto;
  margin: 0 20px 30px 0;
  img {
    width: 100%;
  }
  label {
    font-size: 0.8rem;
    color: #666;
  }
}

.standings {
  float: right;
  width: 220px;
  h2 {
    margin-top: 0;
  }
  ol li:nth-of-type(8) {
    margin-bottom: 10px;
  }
  .team {
    width: 120px;
    display: inline-block;
  }
  .win, .lose {
    width: 30px;
    display: inline-block;
  }
  .win {
    color: #006600;
  }
  .lose {
    color: #880000;
  }
}

.video-player {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  body {
    padding: 10px;
  }
  h1 {
    margin-bottom: 0;
  }
  .standings {
    float: none;
    width: auto;
    overflow: hidden;
    h2 {
      font-size: 1rem;
      text-align: right;
      text-decoration: underline;
      margin-bottom: 5px;
      cursor: pointer;
      color: #00B7FF;
    }
    .content.show {
      display: block;
    }
    .content {
      display: none;
      font-size: 0.7rem;
      ol {
        padding-left: 20px;
      }
      .team {
        width: 85px;
      }
      .win, .lose {
        width: 20px;
      }
    }
    .eastern {
      margin-right: 10px;
    }
    .eastern, .western {
      float: left;
      width: 48%;
    }
  }
  .videos {
    display: block;
  }
  .video {
    width: 48%;
    display: inline-block;
    margin: 0 2% 20px 0;
  }
  .video:nth-child(even) {
    margin-right: 0;
  }
}
