<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
</head>
<body>
<nav>
  <a href="/">Highlights</a>
  <a href="/daily-zap">Daily Zap</a>
  <a href="/top-10">Top 10</a>
</nav>
{{{body}}}
</body>
<script src="javascripts/app.js"></script>
</html>