<div class="video-page">
  <div class="back" onclick="window.history.back()">&#10094; Back</div>
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  <video class="video-player" autoplay controls poster="{{thumbnailUrl}}" src="{{video}}"></video>
</div>