<!DOCTYPE html>
<html>
<head>
  <title>Video</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <a href="/">Highlights</a>
    <a href="/daily-zap">Daily Zap</a>
    <a href="/top-10">Top 10</a>
  </nav>
  <h1>{{title}}</h1>
  <p>{{description}}</p>
  <video autoplay controls poster="{{thumbnailUrl}}" src="{{video}}"></video>
</body>
</html>