/* line 3, ../sass/style.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 8, ../sass/style.scss */
a {
  color: #666;
  text-decoration: none;
}

/* line 13, ../sass/style.scss */
nav {
  float: right;
}
/* line 15, ../sass/style.scss */
nav a {
  color: #00B7FF;
}
/* line 17, ../sass/style.scss */
nav a:after {
  content: '|';
  color: #aaa;
  margin-left: 5px;
}
/* line 22, ../sass/style.scss */
nav a:last-child:after {
  content: '';
}

/* line 28, ../sass/style.scss */
ul {
  list-style: none;
  padding-left: 0;
}

/* line 33, ../sass/style.scss */
.videos {
  display: flex;
  flex-flow: row wrap;
}

/* line 38, ../sass/style.scss */
.video {
  width: 200px;
  height: auto;
  margin: 0 20px 30px 0;
}
/* line 42, ../sass/style.scss */
.video img {
  width: 100%;
}
/* line 45, ../sass/style.scss */
.video .title {
  font-size: 0.8rem;
  color: #666;
  display: block;
}
/* line 50, ../sass/style.scss */
.video .date {
  color: #aaa;
  font-size: 0.7rem;
}

/* line 56, ../sass/style.scss */
.standings {
  float: right;
  width: 220px;
}
/* line 59, ../sass/style.scss */
.standings h2 {
  margin-top: 0;
}
/* line 62, ../sass/style.scss */
.standings ol li:nth-of-type(8) {
  margin-bottom: 10px;
}
/* line 65, ../sass/style.scss */
.standings .team {
  width: 120px;
  display: inline-block;
}
/* line 69, ../sass/style.scss */
.standings .win, .standings .lose {
  width: 30px;
  display: inline-block;
}
/* line 73, ../sass/style.scss */
.standings .win {
  color: #006600;
}
/* line 76, ../sass/style.scss */
.standings .lose {
  color: #880000;
}

/* line 81, ../sass/style.scss */
.video-player {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  /* line 86, ../sass/style.scss */
  body {
    padding: 10px;
  }

  /* line 89, ../sass/style.scss */
  h1 {
    margin-bottom: 0;
  }

  /* line 92, ../sass/style.scss */
  .standings {
    float: none;
    width: auto;
    overflow: hidden;
  }
  /* line 96, ../sass/style.scss */
  .standings h2 {
    font-size: 1rem;
    text-align: right;
    text-decoration: underline;
    margin-bottom: 5px;
    cursor: pointer;
    color: #00B7FF;
  }
  /* line 104, ../sass/style.scss */
  .standings .content.show {
    display: block;
  }
  /* line 107, ../sass/style.scss */
  .standings .content {
    display: none;
    font-size: 0.7rem;
  }
  /* line 110, ../sass/style.scss */
  .standings .content ol {
    padding-left: 20px;
  }
  /* line 113, ../sass/style.scss */
  .standings .content .team {
    width: 85px;
  }
  /* line 116, ../sass/style.scss */
  .standings .content .win, .standings .content .lose {
    width: 20px;
  }
  /* line 120, ../sass/style.scss */
  .standings .eastern {
    margin-right: 10px;
  }
  /* line 123, ../sass/style.scss */
  .standings .eastern, .standings .western {
    float: left;
    width: 48%;
  }

  /* line 128, ../sass/style.scss */
  .videos {
    display: block;
  }

  /* line 131, ../sass/style.scss */
  .video {
    width: 48%;
    display: inline-block;
    margin: 0 2% 20px 0;
  }

  /* line 136, ../sass/style.scss */
  .video:nth-child(even) {
    margin-right: 0;
  }
}
