.App {
  padding: 0 10px;
}

.anchers {
  max-width: 400px;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: white;
  z-index: 999;
}

@media only screen and (max-width: 600px) {
  .anchers {
    position: fixed;
    border-top: 1px solid #ddd;
    padding-right: 20px;
  }

  .anchers .PageAnchers {
    justify-content: center;
    width: 100%;
  }

  .anchers .PageAnchers li {
    width: 70px;
    text-align: center;
    border-right: 1px solid #eee;
  }

  .anchers .PageAnchers li.selected {
    background: #eee;
  }

  .anchers .PageAnchers li:first-of-type {
    border-left: 1px solid #eee;
  }
}

.fav-teams-container {
  max-width: 400px;
  margin: 0 auto;
}

.game-list {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 10px;
}

.play-all {
  margin-bottom: 5px;
  text-align: right;
}
