body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #666;
  text-decoration: none;
}

nav {
  width: 100%;
  float: left;
  background: white;
  border-bottom: 1px solid #eee;
  a {
    color: #00B7FF;
    padding: 10px;
    display: inline-block;
  }
  [href="/standings"] {
    display: none;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.videos {
  display: flex;
  flex-flow: row wrap;
  padding-right: 25%;
}

.video {
  width: 200px;
  height: auto;
  margin: 0 20px 30px 0;
  img {
    width: 100%;
    display: block;
  }
  a {
    position: relative;
    display: block;
  }
  .title {
    font-size: 0.8rem;
    color: #666;
    display: block;
  }
  .date {
    color: #aaa;
    font-size: 0.7rem;
  }
  .video-length {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.36);
    color: white;
    padding: 0 3px;
  }
}

.standings {
  float: none;
  overflow: hidden;
  background: #fff;
  width: 25%;
  position: absolute;
  right: 25px;
  top: 35px;

  h2 {
    margin-top: 0;
  }
  ol li:nth-of-type(8) {
    margin-bottom: 10px;
  }
  .team {
    width: 120px;
    display: inline-block;
  }
  .win, .lose {
    width: 30px;
    display: inline-block;
  }
  .win {
    color: #006600;
  }
  .lose {
    color: #880000;
  }
}

.video-player {
  width: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

activeNav() {
  background: #eee;
  color: #555;
}


.team-list {
  padding-right: 25%;
  li {
    display: inline-block;
  }
  a {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

}

.player-list {
  padding-right: 25%;
  li {
    display: inline-block;
  }
  a {
    width: 230px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 500px) {
    padding: 0 10px;
    li {
      display: block;
    }
    a {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
    position: relative;
  }
  h1 {
    display: none;
  }
  .header {
    bottom: 0;
    top: auto;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    border-top: 1px solid #eee;
    &.highlights {
      .highlights {
        activeNav();
      }
    }
    &.top-10 {
      .top-10 {
        activeNav();
      }
    }
    &.score {
      .score {
        activeNav();
      }
    }
    &.teams {
      .teams {
        activeNav();
      }
    }
    &.players {
      .players {
        activeNav();
      }
    }
    &.nav-standings {
      .nav-standings {
        activeNav();
      }
    }
    a {
      flex: 1;
      padding: 15px 10px;
      text-align: center;
      border-right: 1px solid #eee;
      color: #999;
      &:after {
        display: none;
      }
      &:last-of-type {
        border-right: none;
      }
    }
    [href="/standings"] {
      display: block;
    }
  }
  .video-player {
    width: 100%;
  }
  .date-header {
    padding: 0 10px;
  }
  .standings {
    display: none;
  }
  .standings-page {
    display: block;
    float: none;
    overflow: hidden;
    width: 100%;
    background: #fff;
    position: static;
    li {
      border-bottom: 1px solid #eee;
      padding: 3px 0;
    }
    h2 {
      font-size: 1rem;
      text-align: right;
      text-decoration: underline;
      margin-bottom: 5px;
      cursor: pointer;
      color: #00B7FF;
    }
    h4 {
      margin: 5px 0;
    }
    .content.show {
      display: block;
    }
    .content {
      padding: 10px;
      font-size: 0.8rem;
      ol {
        padding-left: 20px;
      }
      .team {
        width: calc(100% - 50px);
      }
      .win, .lose {
        width: 20px;
      }
    }
  }
  .videos {
    display: block;
    padding-right: 0;
    margin: 0;
  }
  .video {
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    a {
      display: block;
    }
    .title {
      font-size: 16px;
      color: white;
      font-weight: bold;
    }
    .date {
      font-size: 13px;
      color: white;
    }
    .info {
      position: absolute;
      background: rgba(0,0,0,0.6);
      bottom: 0;
      left: 0;
      padding: 5px;
    }
  }

  .video-page {
    .back {
      display: block;
      background: #eee;
    }
  }

  .video:nth-child(even) {
    margin-right: 0;
  }

  .team-list {
    padding: 0 10px;
    li {
      display: block;
    }
    a {
      width: 100%;
    }
  }

  .player-list {
    padding: 0 10px;
    li {
      display: block;
    }
    a {
      width: 100%;
      padding: 15px 10px;
    }
  }

  .video-page {
    h1, p {
      padding: 10px;
    }
    .back {
      display: block;
      background: #eee;
      padding: 10px;
    }
  }
}
