.video-play-section {
  position: relative;
}

.videoContainer video {
  width: 100%;
}

.playing-progress {
  position: absolute;
  color: white;
  top: 5px;
  opacity: 0.5;
  text-align: center;
  width: 100%;
}

.player-buttons {
  position: absolute;
  top: 5px;
  text-align: right;
  width: 100%;
}

.player-buttons button {
  margin: 5px;
  appearance: none;
  border: 1px solid white;
  background: none;
  color: white;
  padding: 10px 20px;
  opacity: 0.3;
  border-radius: 5px;
}

.player-buttons button[disabled] {
  margin: 5px;
  appearance: none;
  border: 1px solid white;
  background: none;
  color: white;
  padding: 10px 20px;
  opacity: 0.1;
}
