body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
}

.PlayButton {
  color: #999;
  font-size: 25px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayButton:active {
  background: #eee;
}

.PlayButton:active {
  background-color: #eee;
}

.PlayButtonWithText {
  width: auto;
  padding: 7px 13px;
}

.PlayIcon {
  display: inline-block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #999;
  box-sizing: border-box;
  width: 10px;
  height: 20px;
  margin-left: 2px;
  vertical-align: bottom;
}

.PlayAllButton {
  color: #999;
  font-size: 15px;
  padding: 5px 20px;
  border: 1px solid #ccc;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}
.PlayAllButton:active {
  background: #eee;
}

span {
  pointer-events: none;
}
