body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
}

.PlayButton {
  color: #999;
  font-size: 25px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 7px 14px;
  text-decoration: none;
  box-sizing: border-box;
}

.PlayButton:active {
  background-color: #eee;
}

.PlayButtonWithText {
  width: auto;
  padding: 7px 13px;
}

.PlayIcon {
  display: inline-block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #999;
}