.GamesDate {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding-top: 10px;
}

.GamesDateHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.GamesDateHeader h2 {
  font-size: 18px;
  color: #555;
  margin: 0;
}

.top-10-text {
  font-size: 20px;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}